<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Hi, *|first_name|*
    
     <p>My name is Michael and I’m an entrepreneur building solutions that help realtors and their clients.</p> 

<p>I’m not looking to sell anything, but since you have expertise in real estate, leasing and managing properties, I’d love to get your advice so we don’t build the wrong thing. My goal is gain a greater understanding of some of your typical issues.</p>

<p>If you’re available, I’d love to chat for just 20 minutes – anytime this week. Just let me know what time works best for you.</p>

<p>Thanks for any help,</p> 

<p>Michael</p>

    
    
  </body>
</html>